export(addspace)
export(boxcoxfitRx)
export(cap)
export(citime)
export(covsum)
export(crrRx)
export(etsum)
export(forestplot)
export(lbld)
export(lpvalue)
export(makedocx)
export(mvsum)
export(nicename)
export(pcovsum)
export(petsum)
export(plotci)
export(plotkm)
export(pmvsum)
export(psthr)
export(pstprn)
export(puvsum)
export(pvalue)
export(sanitizestr)
export(uvsum)
import(survival)
import(xtable)
import(aod)
import(reshape)
import(cmprsk)
import(geoR)
import(stringr)